#  2024-2학기 파이썬 프로그래밍 기말고사 추가 시험

기말 고사 유의 사항

1. 문제의 답안을 함수로 작성하되, 반드시 함수 이름은 문제에서 제시하는 함수명으로 할것 (함수명이 다르면 점수 획득 불가능)
1. 각 문제의 답안은 답안 작성 셀에서 작성할 것
1. 모든 문제는 함수의 매개변수 입력을 통해 데이터를 전달 받고, 결과를 반환하는 함수를 정의하는 것임 (주의: input()는 키보드 입력이며, 함수 입력이 아님, print()는 모니터에 출력하는 함수이며, 함수 반환이 아님)
1. 함수의 입력과 반환 시 데이터 타입도 반드시 지킬것 (예: 문자열 반환이라는 문제에서는 반드시 문자열을 반환 해야함)
1. 답안 제출은 함수가 정의된 부분만 제출하고, 나머지 코드는 지우고 제출할 것, 답안 제출시 input() 함수나 , print() 함수가 있으면 안됨
1. 코드 작성이 끝난 파일은 개별적으로 함수를 호출해서 검수를 거쳐 정답이 맞는지 확인할 것
1. 작성된 답안은 colab의 상단 메뉴의 파일--> 다운로드 --> .py 로 다운 받아 학교 LMS 에 제출할 것  ( .py 다운로드시 경고창이 뜨지만, 계속 버튼을 눌러 다운 할것)
1. .py 가 학교 LMS 에 올라가지 않을경우 ZIP으로 압축하여 업로드 가능
1. 파일의 이름은 자신의 학번.py      예) 학번이 2021111000 일 경우,     2021111000.py 파일을 제출
1. 코드는 자동 채점이 되며, 각 문제당 부분 점수는 없음
1. 시험 문제 및 답안을 절대 유출 금지(SNS, 커뮤니티 및 개인 블로그 포함)하며, 유출될 경우 불이익을 감수할 것
1. 제출 기한을 넘겨 답안을 제출하는 것은 불가

## 문제 1) - 5점


<strong>* 4개의 학습활동의 점수 입력하여, 학습활동의 평균값에 대해 다음과 같은 학점을 부여한다. 4개의 정수를 입력하여 학점을 반환하는 함수를 작성하시오. </strong>
(단, 각 학습활동의 입력값은 0에서 100까지의 정수만 입력가능하며, 이외 입력값이 들어오면 예외처리를 한다.)

|5개의 학습활동 점수 평균|학점(대문자)|
|---|---|
|90점이상 100점이하|A|
|80점 이상 90점 미만|B|
|70점 이상 80점 미만|C|
|60점 이상 70점 미만|D|
|60점 미만|F|   

<br>

> 예외처리 문자열 - Invalid Value 



* 예1) 
  - 입력(정수, 정수, 정수, 정수) : 90, 87, 97, 91 <br>
  - 반환(문자열) : A

  - 함수 입력 
    ```
    exam1(90, 87, 97, 91)

    ```
  - 함수 반환
    ```
    A

    ```



* 예2) 
  * 입력(정수, 정수, 정수, 정수) : 70, 78, 21, 62 <br>
  * 반환(문자열) : D

  * 함수 입력 
    ```
    exam1(70, 78, 21, 62)

    ```
  * 함수 반환
    ```
    D

    ```

* 예3) 
  * 입력(정수, 정수, 정수, 정수) : 120, 1001, 202,11 <br>
  * 반환(문자열) : Invalid Value

  * 함수 입력 
    ```
    exam1(120, 1001, 202, 11)

    ```
  * 함수 반환
    ```
    Invalid Value

    ```



* 함수 이름: exam1<br>      (반드시 함수 이름을 exam1로 작성할것!!)

* 함수 작성 가이드 <br>



```
def exam1(a, b, c, d):
    grade = a, b, c, d 의 평균에 대한 학점
    return grade
```

In [ ]:
###### 1번 문제 답안 작성 셀 ######

## 문제 2) - 13점

<strong> * 하나의 리스트를 함수의 입력으로 넣으면, 리스트안의 중복을 제거한 다음 중복 제거된 리스트를 반환하는 함수를 작성하시오. (단, 리스트 내 데이터 순서를 유지할 것)</strong>

* 예1) 
   * 입력(리스트) : [1,2,1,1,2,4] <br>
   * 반환(리스트) : [1,2,4]

   * 함수 입력 
       ```
       exam2([1,2,1,1,2,4])

       ```
   * 함수 반환
       ```
       [1,2,4]

       ```

* 예2)

  * 입력(리스트): [3,3,4,5,3] <br>
  * 반환(리스트): [3,4,5]

  * 함수 입력 
    ```
    exam2([3,3,4,5,3])

    ```
  * 함수 반환
    ```
    [3,4,5]

    ```



* 함수 이름: exam2 <br>      (반드시 함수 이름을 exam2로 작성할것!!)

* 함수 작성 가이드 <br>



```
def exam2(a):
    b = a리스트의 중복제거한 리스트 
    return b
```

In [ ]:
###### 2번 문제 답안 작성 셀 ######

## 문제 3) - 7점

<strong> 다음 표에서 나타내는 아이스크림 중, 2가지를 선택하여 함수의 입력으로 아이스크림의 이름과 수량 정보가 리스트를 입력하면 아이스크림의 총 가격이 반환하는 함수를 작성하시오.</strong> (단, 아이스크림의 순서는 상관없음)

|아이스크림|가격|
|---|---|
|누가바|500|
|돼지바|600|
|바밤바|900|
|보석바|400|
|메로나|400|
|쌍쌍바|700|

* 예1)

  * 입력(딕셔너리를 요솟값으로 하는 리스트) : [{"누가바": 1}, {"쌍쌍바": 2}] 
  * 반환(정수) : 1900

  * 함수 입력 
    ```   
    exam3([{"누가바": 1}, {"쌍쌍바": 2}])
    ```
  * 함수 반환
    ```
    1900
    ```

* 예2)

  * 입력(딕셔너리를 요솟값으로 하는 리스트): [{"돼지바": 2}, {"바밤바": 1}]
  * 반환(정수): 2100


  * 함수 입력 
    ```
    exam3([{"돼지바": 2}, {"바밤바": 1}])
    ```

  * 함수 반환
    ```
    2100
    ```

* 함수 이름: exam3
(반드시 함수 이름을 exam3로 작성할것!!)

* 함수 작성 가이드



```
def exam3(a):
    e = a 리스트에서 나타낸 아이스크림의 가격 합계
    return e
```

In [ ]:
###### 3번 문제 답안 작성 셀 ######

## 문제 4) - 10점

<strong> 영어단어와 그 뒤에 1부터 9까지의 정수가 합쳐진 문자열이 합수의 입력으로 들어오면 숫자를 영문자열로 변환하여 반환하는 함수를 작성하시오.  </strong>
(단, 모든 반환 문자열은 소문자이다.)



* 예1)<br>

    * 입력(문자열) : apple1<br>
    * 반환(문자열) : appleone<br>

    * 함수 입력 
        ```
        exam4("apple1")

        ```

    * 함수 반환

        ```
        appleone

        ```

* 예3)<br>

    * 입력(문자열) : banana7<br>
    * 반환(문자열) : bananaseven<br>

    * 함수 입력 
        ```
        exam4("banana7")

        ```
    
    * 함수 반환
        ```
        bananaseven
        ```

* 예2)<br>

    * 입력(문자열) : melon9<br>
    * 반환(문자열) : melonnine<br>

    * 함수 입력 
        ```
        exam4("melon9")

        ```
    
    * 함수 반환
        ```
        melonnine
        ```


* 함수 이름: exam4  <br>
(반드시 함수 이름을 exam4로 작성할것!!)<br>

* 함수 작성 가이드

```
def exam4(a):
    b = a의 숫자를 영문자열로 반환한 문자열
    return b
```

In [ ]:
###### 4번 문제 답안 작성 셀 ######

## 문제5) - 5점

<strong> 2004년도부터 2100년도까지의 정수를 함수의 입력으로 넣으면, 올림픽 개최의 해인지 판별하여 개최의 해라면 True, 그렇지 않다면 False를 반환하는 함수를 작성하시오.  </strong><br>

(단, 2004년도는 올림픽 개최의 해 이며, 4년마다 한번씩 올림픽이 개최되어 이후 2008, 2012..... 년도 등이 올림픽이 개최의 해이다.)



* 예1)<br>

  * 입력(정수) : 2004<br>
  * 반환(bool) : True<br>

  * 함수 입력 
      ```
      exam5(2004)
    
      ```
  * 함수 반환 
    
     ```
    True
     ```
<br>

* 예2)

  * 입력(정수) : 2003<br>
  * 반환(bool) : False<br>
  * 함수 입력 
      ```
      exam5(2003)

      ```

  * 함수 반환

      ```
      False
      ```




* 함수 이름: exam5
(반드시 함수 이름을 exam5로 작성할것!!)

* 함수 작성 가이드


```

def exam5(a):
    b = a 가 올림픽 개최의 해라면 True(bool). 그렇지 않다면 False(bool)을 대입
    return b
```

In [ ]:
###### 5번 문제 답안 작성 셀 ######

## 문제 6) - 5점

<strong>전화번호를 함수의 입력으로 넣으면, 해당 전화번호의 지역을 반환하는 함수를 작성하시오.</strong><br>

단, 아래의 지역번호로된 전화번호만 함수의 입력으로 주어진다고 가정한다.


|지역번호 |지역|
|---|---|
|02|서울|
|031|경기|
|033|강원|
|044|대전|



* 예1)<br>

  * 입력(문자열) : 02-2244-7778<br>
  * 반환(문자열) : 서울<br>

  * 함수 입력 
      ```
      exam6("02-2244-7778")
    
      ```
  * 함수 반환 
    
     ```
     서울
     ```

* 예2)

    * 입력(문자열) : 033-5547-8874<br>
    * 반환(문자열) : 강원<br>

    * 함수 입력 
        ```
        exam6("033-5547-8874")
        
        ```
    * 함수 반환 
        
        ```
        강원
        ```


* 함수 이름: exam6
(반드시 함수 이름을 exam6로 작성할것!!)

* 함수 작성 힌트


```

def exam6(a):
    b = a 전화번호의 지역
    return b
```

In [ ]:
###### 6번 문제 답안 작성 셀 ######

## 문제 7) - 15점


<strong> 하나의 문자열을 함수의 입력으로 받으면 다음과 같은 규칙을 적용하여 문자열을 변환하여 반환하는 함수를 작성하시오. </strong><br>

- 문자열의 각 단어를 반대로 뒤집는다.
- 뒤집힌 단어들 중 단어 길이가 짝수인 것은 대문자로 변환한다.
- 기존 문자열에서 각 단어는 원래의 순서를 유지한다.


* 예1)<br>

  * 입력(문자열) : "hello world python"<br>
  * 반환(문자열) : "olleh dlrow NOHTYP"<br>
  
  * 함수 입력 
      ```
      exam7("hello world python")
    
      ```
  * 함수 반환 
    
     ```
     olleh dlrow NOHTYP
     ```

* 예2)<br>

    * 입력(문자열) : "this is a test"<br>
    * 반환(문자열) : "SIHT SI a TSET"<br>

    * 함수 입력 
        ```
        exam7("this is a test")
        
        ```
    * 함수 반환 
        
        ```
        SIHT SI a TSET
        ```

* 함수 이름: exam7
(반드시 함수 이름을 exam7로 작성할것!!)

* 함수 작성 가이드


```

def exam7(a):
    b = a 문자열의 각 단어를 반대로 뒤집고, 단어가 짝수이면 대문자로 변환
    return b
```

In [ ]:
###### 7번 문제 답안 작성 셀 ######

## 문제 8 - 10점

<strong>정수로 구성된 중첩된 리스트를 입력으로 받으면, 중첩된 리스트 안의 모든 정수들 중 가장 큰 값을 반환하는 함수를 작성하시오. </strong><br>


* 예1)<br>

  * 입력(리스트) : [[3, 1, 4], [1, 5, 9], [2, 6, 5, 3], [5]]<br>
  * 반환(정수) : 9<br>

  * 함수 입력 
      ```
      exam8([[3, 1, 4], [1, 5, 9], [2, 6, 5, 3], [5]])
    
      ```
  * 함수 반환 
    
     ```
     9
     ```

* 예2)<br>

    * 입력(리스트) : [[10, 20], [-7, 40], [50]]<br> 
    * 반환(정수) : 50 <br>

    * 함수 입력 
        ```
        exam8([[10, 20], [-7, 40], [50]])
        
        ```
    * 함수 반환 
        
        ```
        50
        ```

* 함수 이름: exam8
(반드시 함수 이름을 exam8로 작성할것!!)

* 함수 작성 가이드


```

def exam8(a):
    b = a의 리스트 중 가장 큰 정수
    return b
```

In [ ]:
###### 8번 문제 답안 작성 셀 ######

## 문제 9) - 15점

하나의 문자열을 함수의 입력으로 받으면, 다음 조건에 따라 결과를 반환하는 함수를 작성하시오. 

- 문자열에서 가장 많이 등장하는 문자와 두 번째로 많이 등장하는 문자를 찾아 그 문자와 등장횟수를 딕셔너리로 만든다.
- 두 개의 딕셔너리를 담은 리스트를 함수로 반환한다.
- 단 문자열의 등장횟수가 서로 같을 때는, 먼저 등장한 문자를 우선하여 반환한다.
- 입력되는 모든 문자열은 소문자로 가정한다.



* 예1) <br>

    * 입력(문자열) : "mississippi"<br>
    * 반환(리스트) : [{'i':4},{'s', 4}]<br>


    * 함수 입력 
       ```
       exam9("mississippi")
       ```

    * 함수 반환 
        ```
        [{'i':4},{'s', 4}]
        ```

* 예2)<br>

    * 입력(문자열) : "arrangement"<br>
    * 반환(리스트) : [{'a': 2},{'r':2}]<br>

    * 함수 입력 
        ```
        exam9("arrangement")
            
        ```
    * 함수 반환 
         
        ```
        [{'a': 2},{'r':2}]
        ```

* 예3)<br>

    * 입력(문자열) : "aaabbc"<br>
    * 반환(리스트) : [{'a': 3},{'b':2}]<br>

    * 함수 입력 
        ```
        exam9("aaabbc")
            
        ```
    * 함수 반환 
         
        ```
        [{'a': 3},{'b':2}]
        ```        
 
* 함수 이름: exam9 (반드시 함수 이름을 exam9로 작성할것!!)<br>

함수 작성 가이드

```

def exam9(a):
    b = a 문자열에서 첫번째로 많이 등장한 문자와 두번째로 등장한 문자와 등장횟수를 딕셔너리로 저장한 리스트
    return b
```

In [ ]:
###### 9번 문제 답안 작성 셀 ######

## 문제 10) - 15점

<strong> 컴플레인을 받은 사람의 이름을 적어놓은 리스트가 있다. 이 리스트를 함수의 입력으로 넣으면, 컴플레인을 가장 많이 받은 사람의 이름과 횟수를 반환하는 함수를 작성하시오. (단, 동일한 컴플레인의 횟수가 없다고 가정한다.) </strong> 



* 예1) <br>

   * 입력(리스트) : ["Oliver", "Joseph", "Joseph", "Joseph", "Peter", "Oliver","Nicholas"] <br>
   * 반환(딕셔너리) : {"Joseph":3} <br>


   * 함수 입력 
      ```
      exam10(["Oliver", "Joseph", "Joseph", "Joseph", "Peter", "Oliver","Nicholas"])
      ```
        
   * 함수 반환 
      ```
      {"Joseph":3}
      ```

* 예2)<br>

    * 입력(리스트) : ["Kim", "Kim", "Park"] <br>
    * 반환(문자열) : {"Kim":2} <br>

    * 함수 입력 
        ```
        exam10(["Kim", "Kim", "Park"])                 
        ```
        
    * 함수 반환 
            
        ```
        {"Kim":2}
        ```



* 함수 이름: exam10 (반드시 함수 이름을 exam10로 작성할것!!)<br>

함수 작성 가이드

```

def exam10(a):
    b = a 리스트에서 등장 횟수가 가장 많은 사람의 이름과 횟수를 딕셔너리로 반환
    return b
```

In [ ]:
###### 10번 문제 답안 작성 셀######